body {
    margin: 0px;
  }
  
  #main {
    height: 100vh;
  }
  
  .header {
    height: 10%;
    background-color: #757575;
  }
  .container {
    display: flex;
    height: 80%;
    margin: 10px 0px;
  }
  .container1 {
    display: flex;
    flex-direction: column;
    width: 75%;
  }
  .a {
    height: 50%;
    background-color: red;
  }
  .b {
    height: 50%;
    background-color: orange;
  }
  .c {
    display: block;
    width: 25%;
    background-color: yellow;
  }
  .footer {
    height: 10%;
    background-color: #757575;
  }
  
  @media (min-width: 401px) and (max-width: 800px) {
    .container1 {
      width: 50%;
    }
    .c {
      width: 50%;
    }
  }
  @media (max-width: 400px) {
      .container{
          display: flex;
          flex-direction: column;
      }
      .container1{
          width: 100%;
          height: 66%
      }
      .c{
          height: 33%;
          width: 100%;
      }
  }
  
















